
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    background-color: #F3E5D7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-family: "Outfit", sans-serif;
    color: #312E2C;
    line-height: 150%;
    text-wrap: pretty;
}

.recipe-card {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2.5rem;
    max-width: 46rem;
    display: flex;
    justify-content: left;
}

.recipe-image-wrapper {
    max-height: 18.75rem;
    max-width: 46rem;
    overflow: hidden; 
    border-radius: 1.5rem;
    object-fit: cover;
}

h1 {
    color: #312E2C;
    font-size: 2.5rem;
    font-family: "Young Serif", serif;
}

h2 {
    color: #854632;
    font-size: 1.75rem;
    font-family: "Young Serif", serif;
}

.preparation {
    background-color: #FFF7FB;
    padding: 1.5rem;
    border-radius: .75rem;
}

span {
    color: #7A284E;
    font-weight: bold;
}

.span-intructions {
    color: #312E2C;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-top: 1px solid #E3DDD7;
}

td {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #E3DDD7;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


ul li {
    margin-bottom: .5rem;
    padding-left: 1rem;
}

ol li {
    margin-bottom: .5rem;
    padding-left: 1rem;
}


